@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 141px;
}
.container{
    display: flex;
}
.sub-container a{
    margin-right: 32px;
    margin-top: 36px;
    text-decoration: none;
    
   
}
.logo{
    margin-top: 20px;
}

.school-sc{
color: rgb(17, 17, 17);
font-size: 32px;
font-weight: 700;
line-height: 30px;
margin-top: 37px;
margin-left: 11px;

}
.Home{
 color: rgb(254, 163, 1);
font-size: 20px;
font-weight: 700;
line-height: 30px;

}
.About{
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

}
.Facilities{
 color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;


}
.Admission{
 color: rgb(93, 88, 239);
font-size: 20px;
font-weight: 500;
line-height: 30px;



}
.btn-primary{
 width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
padding: 10px;
font-size: 20px;
font-weight: 600;
border: none;
margin-top: 26px;
margin-left: 186px;

}

/* second student work */
.student-container{
    display: flex;
    justify-content: space-between;
    margin: 0 140.39px 0 141px;

}
.Empowering{
font-size: 56px;
font-weight: 700;
line-height: 61px;
margin-top: 140px;
margin-bottom: 24px;

}
.vision{
   color:  #FEA301;
}
.nel{
    color: #01ACFD;
}
.courage{
color: rgb(17, 17, 17);
font-size: 20px;
font-weight: 400;
line-height: 25px;
margin-bottom: 24px;


}
.btn-tez{
color: rgb(255, 255, 255);
width: 197px;
height: 50px;
padding: 10px;
font-size: 20px;
font-weight: 700;
line-height: 30px;
border-radius: 12px;
background: rgb(17, 17, 17);

}
.student-title{
    margin-top: 24px;
}
/* The fight cart  */
main{
    background-image: url(../assets/bg.png);
}

.Standard-container{
    display: flex;
   justify-content: space-between;
    margin: 80px 140px 80px 140px;
    
}
.Standard {
 color: rgb(0, 0, 0);
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
text-align: center;
margin-top: 60px;

}


.cart{
    width: 367.8px;
    height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
text-align: center;




}
.cart-2{
width: 367.8px;
height: 481.5px;
box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
text-align: center;



}
.cart-3{
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
text-align: center;



}
.elementary{
    margin-top: 56px;
}
.Kinder{
 color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
margin-top: 35px;
}
.Cum{
 color: rgb(128, 128, 128);
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
margin: 0 40.88px;
margin-top: 33.48px;

}
.Read{
 color: rgb(100, 200, 255);
font-size: 15.09px;
margin-top: 28.00px;
font-weight: 700;
line-height: 28.3px;

}
.Read-2{
 color: rgb(240, 170, 0);
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
margin-top: 38.99px;

}
.Read-3{
 color: #8700FF;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
margin-top:38.67px ;

}
.circle{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;

}
.btn-circle{
    width: 60px;
    height: 60px;
    background-color: Orange;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 23px;
    position: relative;
   
}

/* storis container is start */


.section-stories{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.stories-container{
    display: flex;
    justify-content: space-between;
    margin: 0 140px 80px 140px;
}
.head-stories{
color: rgb(0, 0, 0);
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
text-align: center;
margin-bottom: 80px;
}
.asset-pic{
    margin-bottom: ;
}
.toddler{
 color: rgb(0, 0, 0);
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
margin-left: 38.35px;


}
.Beautiful{
color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
margin-left: 38.35px;
margin-top: 47px;


}
.abc{
position: relative;
bottom:  30px;
left: 38.35px;
    
}
.btn-stories{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
text-transform: capitalize;
border-radius: 47.93px;
background: rgb(60, 216, 232);
border: none;
width: 174.51px;
height: 47.93px;


}
.stories-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:23px;
    
}
.stories-sub{
width: 540.27px;
height: 630.52px;
background-color: white;
border-radius: 16px;
}
.asset-pic{
    border-radius: 16px 16px 0px 0px ;
}
.image-kid ,.image-kid-2 ,.image-kid-3 ,.image-kid-4{
width: 290.69px;
height: 301.61px;
background-color: white;
border-radius: 16px;
}
ages-present{
    border-radius: 16px 16px 0px 0px;
}
.school-two{
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
padding-left: 37px;


}
.images-present{
    border-radius: 16px 16px 0 0;
}
.purple{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
text-align: center;
text-transform: capitalize;
width: 174.51px;
height: 38.35px;
border-radius: 47.93px;
background-color: #5D58F0;
border: none;
}
.improve{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
text-align: center;
text-transform: capitalize;
width: 137.44px;
height: 38.35px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
border: none;
}
.present{
    position: relative;
    bottom: 23px;
    left: 38.35px;

}

.November{
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
text-align: center;
text-transform: capitalize;
width: 174.51px;
height: 38.35px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
border: none;
}
.black{
text-align: center;

}
.btn-last{
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
border-radius: 12px;
background: rgb(17, 17, 17);
border-radius: 12px;
padding: 10px;
width: 197px;
height: 50px;
border: none;
margin-bottom: 60px;

}
.icon-shop{
    display: none;
    font-size: 31px;
    color: black;
    margin-top: 30px;
    margin-left: 70vw;
  
}
.display-none{
    display: none;
}


footer{
height: 519px;
background: rgb(1, 172, 253);

}

.kids-education{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
     

}
.keep-learning{
    margin-left: 147px;
    margin-top: 123px;
    color: white;
   
    
    
}
.separet{
    display: flex;
  

}
.white{

width: 82.9px;
height: 81.65px;
margin-bottom: 35.35px;
}

.kids-one{
    margin-left: 17px;
}

.keep-coding{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 123px;
    margin-left: 330px;
    
}
.kids-one{
color: rgb(255, 255, 255);
font-size: 42.14px;
font-weight: 700;
line-height: 39.51px;

}
.pizza-bar{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    

}
.keep-about{
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
margin-bottom: 32px;

}
.keep-coding a{
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;


}
.keep-discipline{
    margin-left: 228.09px;
    margin-top: 123px;
    
}
.Touch{
color: rgb(255, 255, 255);
font-size: 26px;
font-weight: 700;
line-height: 27px;
margin-bottom: 32px;

}
.keep-discipline img{
width: 40.61px;
height: 40px;
margin-right: 9px;
}








@media screen and (max-width:567px) {
    .school,.sub-container,.stories-sub{
        display: none;
    }
    .student-container{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0 30px;
        
    }
    .student-title img{
        width: 100%;

    }
    .Empowering{
        margin: 0;
        font-size: 34px;
        text-align: center;
        margin-top: 20px;
        
    }
    .courage{
        margin: 0;
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        margin-top: 18px;
    
    }
    .btn-div{
        text-align: center;
        margin-top: 18px;
    }
    .nav-bar{
        margin: 0;
        width: 100%;
        padding: 12px 16px;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1); 
        
    }


 .Standard-container{
        margin: 0;
        flex-direction: column;
        margin: 14.6px;

}
.cart ,.cart-2{
    margin-bottom: 12.3px;

}
.Standard{
font-size: 26px;
font-weight: 700;
line-height: 33px;
margin-bottom: 0;

} 
.circle ,.school-sc{
    display: none;
}
.icon-shop{
    display: inline;

}
.head-stories{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 26px;
}

.stories-container{
    margin: 0;
    margin: 15px;
  
   
}
.stories-title{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    
  
    
}
.image-kid,.image-kid-2,.image-kid-3,.image-kid-4{
    width: 173.09px;
    height: 179.59px;
    background-color: white;
    border-radius: 9.53px;
}
.images-present{
    width: 173.27px;
    height: 105.39px;
    border-radius: 9.53px 9.53px 0 0;
}
.present{
    
    width: 20px;
    height: 20px;
}
.November ,.purple {
    position: absolute;
    width: 103.91px;
    height: 22.83px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 9.13px;
    font-weight: 500;
    line-height: 17.12px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 28.54px;
    background: rgb(149, 178, 38);
    border: none;
    margin-top: 6px;
    margin-left: -17px;
      
}
.purple{
    background-color: #5D58F0;
}
.school-two{
    color: rgb(0, 0, 0);
    font-size: 9.13px;
    font-weight: 700;
    line-height: 17.12px;
    margin-right: 22.20px;
    

}

.btn-last{
width: 145px;
height: 45px;
padding: 10px;
font-size: 16px;
font-weight: 700;
border-radius: 12px;
margin-top: 20px;

}
footer{
    height: 642px;
}
.kids-education{
    display: grid;
       grid-template-columns: repeat(1,1fr);
       margin: 0;
       margin-left: 20px;
       
}
.keep-learning,.keep-discipline,.keep-coding{
    margin: 0;
}
.kids-one{
    font-size: 35.73px;
    margin-top: 65px;
}
.white{
    width: 69.23px;
height: 69.23px;
    margin-top: 65px;
    
}
.pizza-bar{
font-size: 16px;
font-weight: 400;
}
.keep-about{
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
.keep-coding a{
font-size: 16.96px;
font-weight: 500;

}
.keep-discipline img{
width: 33.91px;
height: 33.91px;
margin-right: 5px;
}
.Touch{
 font-size: 22.04px;
font-weight: 700;
}


 



}
